<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <appSettings file="../../AppSettings.Private.config">
    <add key="flashcardapiDbMigration:DangerDangerNukeTheTargetDbBeforeDeployDangerDanger" value="false" />
    <add key="flashcardapiDbMigration:NukeableDbNameSuffix" value="NUKEABLE" />
    <!--<add key="flashcardapi:ScriptSourceFolderPath" value="..\..\..\iayos.flashcardapi.Domain.Concrete.MsSql.Deploy\TransitionsFilesystem" />-->
  </appSettings>

  <connectionStrings configSource="ConnectionStrings.Private.config">
  <!--<connectionStrings>-->
    <!-- find these in your own custom ConnectionStrings.Private.config file (not in source control) -->
    <!--<add name="flashcardapiDbConnString" connectionString="" />-->
  </connectionStrings>
  
</configuration>