<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <appSettings file="AppSettings.Private.config">
    <add key="flashcardapiDbMigration:DangerDangerNukeTheTargetDbBeforeDeployDangerDanger" value="true" />
    <add key="flashcardapiDbMigration:NukeableDbNameSuffix" value="NUKEABLE" />
    <!--<add key="flashcardapi:ScriptSourceFolderPath" value="..\..\..\iayos.flashcardapi.Domain.Concrete.MsSql.Deploy\TransitionsFilesystem" />-->
  </appSettings>

  <!--<connectionStrings configSource="..\\..\\ConnectionStrings.Private.config">-->
  <connectionStrings>
    <!-- find these in your own custom ConnectionStrings.Private.config file (not in source control) -->
    <!--<add name="flashcardapiDbConnString" connectionString="" />-->
    <add name="flashcardapiDbConnString" 
         connectionString="Data Source=BEAST; Initial Catalog=iayos.flashcardapi.NUKEABLE; User ID=sa; Password=daleholborow" /> 
    <!--<add name="flashcardapiDbConnString" connectionString="Server=localhost;Database=iayos.core.db.deploy.NUKEABLE;User Id=sa; Password=tH3dB4dm1n*5000;" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  
</configuration>